{% extends "network/layout.html" %}
{% load static %}

{% block body %}
{% if user.is_authenticated %}
<div id="username">{{ request.user.username|json_script:"username" }}</div>

<div class="background-img">
    <h2 style="font-family: 'Crimson Text', serif; text-align: center;">New Post</h2>
    <div class="container new_post shadow-lg p-3 mb-5 bg-white rounded">
        <form action="{% url 'index' %}" method="POST">
            <div class = "form-group">
                {% csrf_token %}
                <textarea class="textarea form-control" name="post" id=new_post rows="3" placeholder="What's on your mind?" style="text-align: center;"></textarea> 
            </div>
                <input type="submit" class="btn btn-dark" style="position:center; margin-left:210px;">
        </form>
    </div>
    <hr>
</div>
<h2 style="font-family: 'Crimson Text', serif; text-align: center;">All Posts</h2>
    {% for post in page_obj %}    
        {% for avatar in all_avatars %}
            {% if post.user == avatar.user %}
            <div class="profile-pic">
                <img src="/media/{{avatar.avatar}}" alt="avatar" class="index-pic">
            </div>
            {% endif %}
        {% endfor %}
    
    <div class="container shadow-lg p-3 mb-5 bg-white rounded" id="index-view">
        <div class="background" style="background-color: black;">
            <h4 style="font-family: 'Crimson Text', serif; text-align: center;"><a href="{% url 'profile' post.user %}" id="profile" style="color: white">{{post.user}}</a></h4>
        </div>
        <hr>
        <div id="disable_post-{{post.id}}">
            <p class="text"> {{post.post}} </p>
        </div>
        <br>
        
        <div id="time_edit">
            <p style="font-size:10px;"> Posted on: {{post.timestamp}} </p>
        </div>
        {% if post.user == request.user %}
            <div class="button-view-{{post.id}}">
                <button class="edit button btn btn-dark" id="edit" name="{{post.id}}"> Edit Post </button> 
            </div>
        {% endif %}
        <hr>
        <div class="like-view-{{post.id}}">
        {% if request.user in post.likes.all %}
            <button class="like button btn btn-dark" name="{{post.id}}" id="unlike"> Unlike </button>
        {% else %}
            <button class="like button btn btn-dark" name="{{post.id}}" id="like"> Like </button>
        {% endif %}
        </div>
        <br>
        <div class="all_likes">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="heart {{post.id}} bi bi-heart-fill" fill="red" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
            </svg> 
            <div class="counter">
            {% if post.counter == None %}
                <p class="count-{{post.id}}" id="counter"> 0 </p>
            {% else %}
                <p class="count-{{post.id}}" id="counter">{{post.counter}}</p>
            {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
    <nav class="PageNavigator">
        <ul class="pagination justify-content-end">
            <li class="page-item disabled">
            {% if page_obj.has_previous %}
                <li class="page-item enabled">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1" aria-disabled="true">Previous</a>
                </li>
            </li>
            {% endif %}
            
            <li class="page-link"> Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</li>
            
            <li class="page-item">
            {% if page_obj.has_next %}
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
            </li>
            {% endif %}
        </ul>
      </nav>
{% else %}
<h2 style="font-family: 'Crimson Text', serif; text-align: center;">Please log in or register</h2>
{% endif %}

      
{% endblock %}

{% block script %}
    <script src="{% static 'network/edit.js' %}"></script>
{% endblock %}
